<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testngclasses.failtestcases.TransformExample"/>
    </listeners>
    <test verbose="10" preserve-order="true" parallel="false" thread-count="3" name="D:/repo1/clone/TestFolder/Demo/Maven_1_Oct_24">
        <classes>
            <class name="testngclasses.failtestcases.ExamplesOfFailScripts"/>
        </classes>
    </test>
</suite>